<html>
    <head>
        <style type="text/css">
            <!--
            div.scroll {
            height: 500px;
            width: 90%;
            overflow: auto;
            border: 1px dotted #666;
            background-color: #EEEEEE;
            padding: 8px;
            }
            -->
        </style> 
    </head>

    <body onload="document.getElementById('logs').scrollTop = document.getElementById('logs').scrollHeight">
        <h1>Ooooooops! Something went wrong</h1>
        <div class="scroll" id="logs"><pre>{% for i in log %}{{ i }}{% endfor %}</pre></div>
        <p /><button onclick="javascript:history.go(-1)">Go back to admin interface</button>
    </body>
</html>
