<html>
    <head>
        <script type="text/javascript" language="javascript">
            function moveWindow (){window.location.hash="#end";}
        </script>
        <style type="text/css">
            <!--
            div.scroll {
            height: 500px;
            width: 90%;
            overflow: auto;
            border: 1px dotted #666;
            background-color: #EEEEEE;
            padding: 8px;
            }
            -->
        </style> 
    </head>
    <body onload="moveWindow()">
        <h1>Ooooooops! Something went wrong</h1>
        <div class="scroll"><pre>{% for i in log %}{{ i }}{% endfor %}</pre><a name="end"></a></div>
        <p /><button onclick="javascript:history.go(-1)">Go back to admin interface</button>
    </body>
</html>
